.icon {
    color: white;
    cursor: pointer;
    font-size: 24px;
}
.icon div {
    font-style: normal;
    position: absolute;
}
.icon .one {
    margin-left: 20px;
    font-size: 12px;
}
.icon .two {
    color: #82d2d2;
    margin: 3px 0 0 75px;
}
.icon .three {
    color: #82d2d2;
    margin: 12px 0 0 20px;
    font-size: 12px;
}
.icon .vh {
    -moz-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}
item {
    cursor: pointer;
    float: left;
    width: 100%;
}
.fa-interface {
   border: 1px solid red;
   float: right;
   width: 100%;
   height: 40px;
   display: flex;
   justify-content: right;
}
.fa-interface svg {
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    transition: 0.15s linear;
}
.fa-interface svg:hover {
    background: rgba(255, 255, 255, 0.2);
}

svg[data-icon="caret-left"].h {
}
svg[data-icon="caret-left"] {
}
.settings {
    float: left;
    width: 100%;
}
.settings .fas {
    color: white;
    cursor: pointer;
    opacity: 0.8;
    position: absolute;
}
.settings .light {
    font-size: 18px;
    margin: -8px 0 0 17px;
    padding: 13px;
}
