@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.menu-item {
    width: 186px;
    padding: 0 2px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    overflow: hidden;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.menu-item span:hover {
    text-decoration: underline;
}
.menu-item-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.menu-item-wrapper span {
    position: absolute;
    padding: 4px 8px;
}

nav .menu-item svg {
    padding: 6px;
    width: 20px !important;
    overflow: hidden;
}
nav .menu-item .sub-menu .menu-item {
    font-size: 13px;
}
.sub-menu {
    margin: 0 -2px 0 -2px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}
.sub-menu-indicator, .sub-menu-indicator svg {
    position: absolute;
    transition: 0.26s ease-in-out;
    right: 0;
}
.sub-menu-indicator svg[data-icon='box-open'] {
    opacity: 0;
}
.menu-item:hover > .sub-menu-indicator svg[data-icon='box'],
.menu-item.active > .sub-menu-indicator svg[data-icon='box'],
.menu-item.sub-active > .sub-menu-indicator svg[data-icon='box']
{
    opacity: 0;
}
.menu-item:hover > .sub-menu-indicator svg[data-icon='box-open'],
.menu-item.active > .sub-menu-indicator svg[data-icon='box-open'],
.menu-item.sub-active > .sub-menu-indicator svg[data-icon='box-open']
{
    opacity: 1;
}
.menu-item:hover > .sub-menu,
.active > .sub-menu,
.sub-active > .sub-menu
{
    max-height: 500px;
}
.sub-active, .sub-menu {
    color: rgb(30, 30, 30) !important;
    background: rgb(235, 235, 235);
}
.active {
    color: rgb(20, 20, 20) !important;
    background: rgb(205, 205, 205);
}
