@keyframes animatedBackground {
  from {
    background-position: 0px 0px; }
  to {
    background-position: 640px 400px; }
}

@-webkit-keyframes animatedBackground {
  from {
    background-position: 0px 0px; }
  to {
    background-position: 640px 400px; }
}

@keyframes animatedBackground_bg {
  from {
    background-position: 0px 0px; }
  to {
    background-position: -640px -800px; }
}

@-webkit-keyframes animatedBackground_bg {
  from {
    background-position: 0px 0px; }
  to {
    background-position: -640px 400px; }
}

.section-image-wrapper,
.section.section-large {
    min-height: 400px;
    width: 100%;
    background-repeat: repeat;
}

.section[data-background='star'] {
    color: rgb(230, 230, 230) !important;
    background-image: url('./stars_bg.gif');
    background-color: rgb(15, 15, 15);
    -webkit-animation: animatedBackground_bg 130s linear infinite;
    -moz-animation: animatedBackground_bg 130s linear infinite;
    animation: animatedBackground_bg 130s linear infinite;
}

.section[data-background='star'] .section-image-wrapper {
    background-image: url('./stars.gif');
    -webkit-animation: animatedBackground 90s linear infinite;
    -moz-animation: animatedBackground 90s linear infinite;
    animation: animatedBackground 90s linear infinite;
}

.section[data-background='star'] .section-links {
    color: rgb(230, 230, 230);
}

.section[data-background='star'] p,
.section[data-background='star'] h1,
.section[data-background='star'] img
{
    background: rgba(35, 35, 35, 0.9);
    color: rgb(230, 230, 230);
}
.section[data-background='star'] .section-links a {
    color: rgb(230, 230, 230);
}

.section-image-wrapper p,
.section-image-wrapper h1,
.section-left-header h1,
.section-right img {
    border-radius: 7px;
    padding: 0.5em 0.8em;
    margin: 0.6em;
}
.section-lr {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.section-left, .section-right {
    width: 45%;
    min-width: 400px;
}
.section-left-header {
    width: 100%;
}
.section-links {
    float: left;
    font-size: 24px;
    margin-top: 1em;
}
.section-left-header .section-links a {
    margin: 1em;
    color: rgb(35, 35, 35);
}
.section-right {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.section-right img {
    width: calc(100% - 1.2em);
}

@media only screen and (max-width: 960px) {
  .section-lr {
    justify-content: center;
  }
}
