.section
.section-content,
.footer,
p,
h1,
h2 {
    clear: both;
    float: left;
    padding: 0.1em 0.8em;
}
p {
    max-width: 700px;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 18px;
    padding-left: 2em;
}
a, a:visited {
    color: rgb(50, 50, 200);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
body {
    background: -moz-linear-gradient(left, #d7dbaf 0%, #f9f5d1 42%, #f9f5d1 100%);
    background: -webkit-linear-gradient(left, #d7dbaf 0%, #f9f5d1 42%, #f9f5d1 100%);
    background: linear-gradient(to right, #d7dbaf 0%, #f9f5d1 42%, #f9f5d1 100%);
    background: #fff0eb;
}
.fas:hover {
    background: rgba(255, 255, 255, 0.2);
    opacity: 1;
}
.h {
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
br {
    margin-bottom: 15px;
}
