@import "https://fonts.googleapis.com/css?family=Montserrat:500";

@import "https://fonts.googleapis.com/css?family=PT+Sans|Roboto+Slab";

$gradient1:#e8e5d7;
$gradient2:#fffced;

$break-large:75rem;
$break-medium:50rem;

body.dark {
  background: rgb(40, 40, 40);
  color: rgb(230, 230, 230);

  a, a:visited {
    color: rgb(100, 200, 250);
  }

  .section-links a {
    color:#e6e6e6!important;
  }

  img {
    opacity:0.8;
    &:hover {
      opacity:1;
    }
  }

  .content .section-large[data-background='bionic'] {
    background-color:#2e4c16;
  }
}

.flex {
  display:flex;
  flex-wrap:wrap;
  @media screen and (max-width: $break-large) {
    justify-content:center;
  }
}

.section,
.section-content,
.footer,
p,
h1,
h2 {
  clear:both;
  padding:.1em .8em;
}

h1 {
  font-size:1.4rem;
}

h2 {
  font-size:1.3rem;
  padding-left:2em;
}

h1,h2,h3,h4,h5,h6 {
  font-family:'PT Sans',sans-serif;
}

p {
  font-family:'Roboto Slab',serif;
  font-size: 1rem;
  max-width:700px;
}

a,a:visited {
  color:#3232c8;
  text-decoration:none;

  &:hover {
    text-decoration:underline;
  }
}

body {
  background:-moz-linear-gradient(left,$gradient1 0%,$gradient2 42%,$gradient2 100%);
  background:-webkit-linear-gradient(left,$gradient1 0%,$gradient2 42%,$gradient2 100%);
  background:linear-gradient(to right,$gradient1 0%,$gradient2 42%,$gradient2 100%);
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  margin:0;
  padding:0;
  font-size:15px;

  @media screen and (max-width: $break-large) {
    font-size:14px;
  }
}

br {
  margin-bottom:1rem;
}

code {
  font-family:source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace;
}

.menu-item:hover > .sub-menu-indicator svg[data-icon='box'],
.menu-item.active > .sub-menu-indicator svg[data-icon='box'],
.menu-item.sub-active > .sub-menu-indicator svg[data-icon='box'] {
  opacity:0;
}

.menu-item:hover > .sub-menu-indicator svg[data-icon='box-open'],
.menu-item.active > .sub-menu-indicator svg[data-icon='box-open'],
.menu-item.sub-active > .sub-menu-indicator svg[data-icon='box-open'] {
  opacity:1;
}

.menu-item:hover > .sub-menu,
.active > .sub-menu,
.sub-active > .sub-menu {
  max-height:500px !important;
}

.sub-active,.sub-menu {
  background:#ebebeb;
  color:#1e1e1e!important;
}

.active {
  background:#cdcdcd;
  color:#141414!important;
}

.icon {
  color:#fff;
  cursor:pointer;
  font-size:1.6rem;

  div {
    font-style:normal;
    position:absolute;
  }

  .one {
    font-size:12px;
    margin-left:20px;
  }

  .two {
    color:#82d2d2;
    margin:3px 0 0 75px;
  }

  .three {
    color:#82d2d2;
    font-size:12px;
    margin:12px 0 0 20px;
  }

  .vh {
    transform:scale(-1,-1);
  }
}

nav {
  background:-moz-linear-gradient(left,#162618 0%,#162618 71%,#0e2310 99%);
  background:-webkit-linear-gradient(left,#162618 0%,#162618 71%,#0e2310 99%);
  background:#162618;
  background:linear-gradient(to right,#162618 0%,#162618 71%,#0e2310 99%);
  color:#fff;
  font-family:'Montserrat',sans-serif;
  height:100vh;
  left:0;
  overflow:hidden;
  position:fixed;
  top:0;
  transition:width .2s ease-in-out;
  width:190px;

  &.small {
    width: 2.5rem;
    & > .menu-item .sub-menu-indicator {
      opacity:0;
    }

    & ~ .content {
      padding-left:40px;
      width:calc(100% - 40px);
    }
  }

  &.hidden {
    width: 0;
  }

  .menu-item {
    cursor:pointer;
    display:flex;
    font-family:'Montserrat',sans-serif;
    overflow:hidden;
    padding:0 .1em;
    width:190px;

    .menu-item-wrapper {
      margin:0;
      padding:0;
      position:relative;
      width:100%;

      span {
        padding:0.3em 0.7em;
        position:absolute;

        &:hover {
          text-decoration:underline;
        }
      }

      i[data-state='off'] > svg {
        transform:rotate(90deg);
      }

      svg {
        transition:0.3s ease-in-out;
        overflow:hidden;
        padding:6px;
        width:20px!important;

      }
    }

    .sub-menu-indicator {
      position:absolute;
      right:0.5em;
      padding: 0.5em;
      transition:.26s ease-in-out;

      svg {
        position:absolute;
        right:0;
        transition:.26s ease-in-out;
      }

      svg[data-icon='box-open'] {
        right:-.15em;
        opacity:0;
      }
    }

    .sub-menu {
      margin:30px 0 0 -190px;
      max-height:0;
      overflow:hidden;
      transition:max-height .3s ease-in-out;

      .menu-item {
        font-size:.8rem;
      }
    }
  }
}

.content {
  font-family:'Crete Round',serif;
  line-height:1.5em;
  min-height:100vh;
  overflow:hidden;
  padding-left:190px;
  transition:.2s ease-in-out;
  width:calc(100% - 190px);
  margin:0 auto;
  max-width:70rem;

  .section {
    clear:both;
    padding:.3rem;
    margin:1rem;
    border-bottom:1px solid;
    border-color:rgb(100, 100, 100);
    border-color:rgba(150, 150, 150, .5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

    @media screen and (max-width: $break-large) {
      margin:.2rem;
    }

    &[data-background='star'] {
      animation:animatedBackground_bg 130s linear infinite;
      background-color:#0f0f0f;
      background-image:url(./resources/stars_bg.gif);
      color:#e6e6e6!important;

      .section-image-wrapper {
        animation:animatedBackground 90s linear infinite;
        background-image:url(./resources/stars.gif);
      }

      .section-links a {
        color:#e6e6e6 !important;
      }

      p, h1, img {
        background:rgba(35,35,35,0.9);
        color:#e6e6e6;
      }
    }

    &[data-background='bionic'] {
      background-color:#88db43;
    }

    &.section-large {
      background-repeat:repeat;
      min-height:25rem;
      margin: 0;
      padding:1.3em;
      width:calc(100% - 2.6em);

      @media screen and (max-width: $break-large) {
        padding:1rem;
      }
    }

    .section-image-wrapper {
      background-repeat:repeat;
      min-height:25rem;
      width:100%;

      p, h1,
      .section-left-header h1,
      .section-right img {
        margin:.6rem;
        padding:.5rem .8rem;

        @media screen and (max-width: $break-medium) {
          padding:.3rem .4rem;
          margin:.4rem;
        }
      }

      .section-lr {
        padding: 1rem;

        @media screen and (max-width: $break-medium) {
          padding:.7rem;
        }

        .section-left,.section-right {
          min-width:25rem;
          width: 50%;
        }

        .section-left {
          .section-left-header {
            width:100%;
          }

          .section-left-header {
            h1 {
              float:left;
            }
            .section-links {
              float:left;
              font-size:1.6rem;
              margin-top:.8rem;
              a {
                color:#232323;
                margin:1em;
              }
            }
          }
        }

        .section-right {
          img {
            width:calc(100% - 1.2em);
          }
        }
      }
    }
  }
}

.footer {
  padding:1.5rem;
  width: calc(100% - 1.5rem);
  justify-content: center;

  p {
    color:#464646;
    font-size:0.8rem;
    text-align:center;
  }
}

@keyframes animatedBackground {
  from {
    background-position:0 0;
  }

  to {
    background-position:640px 400px;
  }
}

@-webkit-keyframes animatedBackground {
  from {
    background-position:0 0;
  }

  to {
    background-position:640px 400px;
  }
}

@keyframes animatedBackground_bg {
  from {
    background-position:0 0;
  }

  to {
    background-position:-640px -800px;
  }
}

@-webkit-keyframes animatedBackground_bg {
  from {
    background-position:0 0;
  }

  to {
    background-position:-640px 400px;
  }
}

