@import "https://fonts.googleapis.com/css?family=Montserrat:500";

@import "https://fonts.googleapis.com/css?family=PT+Sans|Roboto+Slab";

$gradient1:#e8e5d7;
$gradient2:#fffced;

$break-large:75rem;
$break-medium:50rem;

$color-white0:#f5f5f5;
$color-white:#e6e6e6;
$color-white2:#d1d1d1;
$color-white3:#bababa;
$color-grey:#707070;
$color-black:#141414;
$color-lightblue:#4baddd;
$color-green:#c5f79b;
$color-darkgreen:#071c07;

$menu-width:15rem;
$menu-width-small:2.8rem;

$default-transition:.26s ease-in-out;

body.mobile {
  nav:not(.small) {
    width:100%;
    .menu-item {
      width:100%;
    }
  }

  nav .menu-item .sub-menu {
    width:100%;
    margin-left:-20.6rem;
  }
}

body.dark {
  background:$color-black;
  color:$color-white;

  .section-links a {
    color:$color-white !important;
  }

  img {
    opacity:.8;
    &:hover {
      opacity:1;
    }
  }

  .content .section-large[data-background='bionic'] {
    background-color:$color-darkgreen;
  }

  .border {
    border-color:$color-white3;
  }

  nav {
    background:-moz-linear-gradient(left,#162618 0%,#162618 71%,#0e2310 99%);
    background:-webkit-linear-gradient(left,#162618 0%,#162618 71%,#0e2310 99%);
    background:linear-gradient(to right,#162618 0%,#162618 71%,#0e2310 99%);
    background:#162618;
    color:$color-white;
  }
}

.flex {
  display:flex;
  flex-wrap:wrap;
  @media screen and (max-width:$break-large) {
    justify-content:center;
  }
}

.section,
.section-content,
.footer,
p,
h1,
h2 {
  clear:both;
  padding:.1em .8em;
}

h1,h2,h3,h4,h5,h6 {
  font-family:'PT Sans',sans-serif;
}

p {
  font-family:'Roboto Slab',serif;
  font-size:1rem;
  max-width:700px;
}

a,a:visited {
  color:$color-lightblue;
  text-decoration:none;

  &:hover {
    text-decoration:underline;
  }
}

body {
  background:-moz-linear-gradient(left,$gradient1 0%,$gradient2 42%,$gradient2 100%);
  background:-webkit-linear-gradient(left,$gradient1 0%,$gradient2 42%,$gradient2 100%);
  background:linear-gradient(to right,$gradient1 0%,$gradient2 42%,$gradient2 100%);
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  margin:0;
  padding:0;
  font-size:14px;
}

br {
  margin-bottom:1rem;
}

code {
  font-family:source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace;
}

.menu-item:hover > .sub-menu-indicator svg[data-icon='box'],
.menu-item.active > .sub-menu-indicator svg[data-icon='box'],
.menu-item.sub-active > .sub-menu-indicator svg[data-icon='box'] {
  opacity:0;
}

.menu-item:hover > .sub-menu-indicator svg[data-icon='box-open'],
.menu-item.active > .sub-menu-indicator svg[data-icon='box-open'],
.menu-item.sub-active > .sub-menu-indicator svg[data-icon='box-open'] {
  opacity:1;
}

.menu-item:hover > .sub-menu,
.active > .sub-menu,
.sub-active > .sub-menu {
  max-height:20rem !important;
  padding:.2rem .9rem;
}

.sub-active,.sub-menu {
  background:$color-white;
  color:#1e1e1e!important;
}
.sub-active {
  background:$color-white2;
}

.active {
  background:$color-white3;
  color:#141414!important;
}

.icon {
  cursor:pointer;
  font-size:1.3rem;
  width:10rem;
  height:1.5rem;
  margin-top:-.3rem;

  &:hover {
    div {
      transform:scale(1,1);
    }
    .one {
      margin:.5rem 0 0 .85rem;
    }
    .two {
      margin:0 0 0 3.5rem;
    }
    .three {
      font-size:.8rem;
      margin:.1rem 0 0 4rem;
    }
  }

  div {
    font-style:normal;
    position:absolute;
    transition:transform $default-transition, margin $default-transition;
  }

  .one {
    font-size:.8rem;
    margin:0 0 0 2rem;
  }

  .two {
    color:$color-lightblue;
    margin:.2rem 0 0 6.5rem;
  }

  .three {
    color:$color-lightblue;
    font-size:.7rem;
    margin:.6rem 0 0 2rem;
  }
  .h {
    transform:scale(-1,1);
  }

  .vh {
    transform:scale(-1,-1);
  }
}

.box-shadow {
  -webkit-box-shadow: 3px 3px 10px 0px rgba(133,133,133,0.3);
  -moz-box-shadow: 3px 3px 10px 0px rgba(133,133,133,0.3);
  box-shadow: 3px 3px 10px 0px rgba(133,133,133,0.3);
}

nav {
  font-family:'Montserrat',sans-serif;
  height:100vh;
  left:0;
  top:0;
  overflow:hidden;
  position:fixed;
  transition:width $default-transition;
  width:$menu-width;
  font-size:1rem;
  background-color:$color-white0;

  &.small {
    width:$menu-width-small;
    & > .menu-item .sub-menu-indicator {
      opacity:0;
    }

    & ~ .content {
      padding-left:$menu-width-small;
      width:calc(100% - 2.8rem);
    }

    & > .menu-item .sub-menu {
      margin-left:-16rem;
    }

    & > .menu-item .menu-item-wrapper span,
    & > .settings span {
      opacity:0;
    }
  }

  &.hidden {
    width:0;
  }

  .menu-item {
    cursor:pointer;
    display:flex;
    font-family:'Montserrat',sans-serif;
    overflow:hidden;
    padding:0 .2em;
    margin:.3rem;
    border-radius:1rem;
    width:14rem;

    &[data-filler='true'] {
      opacity:0;
      height:.6rem;
    }

    .menu-item-wrapper {
      margin:0;
      padding:.2rem .4rem;
      position:relative;
      width:100%;

      span {
        padding:.3em .7em;
        position:absolute;
        transition:opacity 1s $default-transition;

        &:hover {
          text-decoration:underline;
        }
      }

      i[data-state='off'] > svg {
        transform:rotate(90deg);
      }

      svg {
        overflow:hidden;
        padding:.3rem;
      }
    }

    .sub-menu-indicator {
      position:absolute;
      right:1.5em;
      padding:.5em;
      transition:$default-transition;

      svg {
        position:absolute;
        right:0;
        transition:$default-transition;
      }

      svg[data-icon='box-open'] {
        right:-.15em;
        opacity:0;
      }
    }

    .sub-menu {
      margin:2.1rem 0 0 -14.7rem;
      border-radius:1rem;
      max-height:0;
      overflow:hidden;
      transition:margin $default-transition;

      .menu-item {
        font-size:.8em;
        width:11.7rem;
      }
    }
  }
}

.blog {
  .entry {
    border:1px solid;
  }
}

.border {
    border-color:$color-grey;
}

.content {
  font-family:'Crete Round',serif;
  line-height:1.5em;
  min-height:100vh;
  overflow:hidden;
  padding-left:$menu-width;
  transition:$default-transition;
  width:calc(100% - 15rem);
  margin:0 auto;
  max-width:70rem;

  .section {
    clear:both;
    padding:.3rem;
    margin:1rem;
    border-bottom:1px solid;
    -webkit-background-clip:padding-box; /* for Safari */
    background-clip:padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

    @media screen and (max-width:$break-large) {
      margin:.2rem;
    }

    &[data-background='star'] {
      animation:animatedBackground_bg 130s linear infinite;
      background-color:$color-black;
      background-image:url(./resources/stars_bg.gif);
      color:$color-white !important;

      .section-image-wrapper {
        animation:animatedBackground 90s linear infinite;
        background-image:url(./resources/stars.gif);
      }

      .section-links a {
        color:$color-white !important;
      }

      p, h1, img {
        color:$color-white;
      }
    }

    &[data-background='bionic'] {
      background-color:$color-green;
    }

    &.section-large {
      background-repeat:repeat;
      min-height:25rem;
      margin:0;
      padding:1.3em;
      width:calc(100% - 2.6em);

      @media screen and (max-width:$break-large) {
        padding:1rem;
      }
    }

    .section-image-wrapper {
      background-repeat:repeat;
      min-height:25rem;
      width:100%;

      p, h1,
      .section-left-header h1,
      .section-right img {
        margin:.6rem;
        padding:.5rem .8rem;
      }

      .section-lr {
        padding:1rem;

        .section-left,.section-right {
          min-width:25rem;
          width:50%;

          @media screen and (max-width:$break-medium) {
            min-width:0;
            width:100%;
          }
        }

        .section-left {
          .section-left-header {
            width:100%;
          }

          .section-left-header {
            h1 {
              float:left;
            }
            .section-links {
              float:left;
              font-size:1.6rem;
              margin-top:.8rem;
              a {
                color:#232323;
                margin:1em;
              }
            }
          }
        }

        .section-right {
          img {
            max-width:calc(100% - 1.2em);
            max-height:13rem !important;
          }
        }
      }
    }
  }
}

.footer {
  padding:2rem;
  width:calc(100% - 4rem);
  justify-content:center;

  p {
    font-size:.8rem;
    text-align:center;
  }
}

@keyframes animatedBackground {
  from {
    background-position:0 0;
  }

  to {
    background-position:640px 400px;
  }
}

@-webkit-keyframes animatedBackground {
  from {
    background-position:0 0;
  }

  to {
    background-position:640px 400px;
  }
}

@keyframes animatedBackground_bg {
  from {
    background-position:0 0;
  }

  to {
    background-position:-640px -800px;
  }
}

@-webkit-keyframes animatedBackground_bg {
  from {
    background-position:0 0;
  }

  to {
    background-position:-640px 400px;
  }
}

