@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300|Roboto+Slab|Montserrat:500');

$gradient1:#e8e5d7;
$gradient2:#fffced;

$break-large:75rem;
$break-medium:50rem;

$color-white0:#f5f5f5;
$color-white:#e6e6e6;
$color-white2:#d1d1d1;
$color-white3:#bababa;
$color-grey:#707070;
$color-black:#141414;
$color-lightblue:#4baddd;
$color-green:#c5f79b;
$color-darkgreen:#071c07;

$menu-width:15rem;
$menu-width-small:2.8rem;
$box-shadow: 0 0 10px 0 rgb(200,200,200);
$box-shadow-dark: 0 0 10px 0 black;

$padding-small:.2rem;
$padding-medium:.4rem;
$padding-large:.8rem;

$default-transition:.26s ease-in-out;

img {
  max-width:100%;
  margin:0 auto;
  max-height:14rem;
}

body.mobile {
  nav:not(.small) {
    width:100%;
    .menu-item {
      width:calc(100% - 1rem);
    }

    .menu-item .sub-menu {
      width:100%;
      margin-left:-20.6rem;
    }
  }

  .nav.small {
    .menu-item .sub-menu {
      margin-left:-15.6rem !important;
    }
  }

}

body.dark {
  background:$color-black;
  color:$color-white;

  .section-links a {
    color:$color-white !important;
  }

  img {
    opacity:.8;
    &:hover {
      opacity:1;
    }
  }

  .border {
    border-color:$color-white3;
  }

  nav {
    background-color:$color-black;
    color:$color-white;
  }

  .box-shadow {
    -webkit-box-shadow:$box-shadow-dark;
    -moz-box-shadow:$box-shadow-dark;
    box-shadow:$box-shadow-dark;
  }
}

.flex {
  display:flex;
  flex-wrap:wrap;
  @media screen and (max-width:$break-large) {
    justify-content:center;
  }
}

.section,
.section-content,
.footer,
p,
h1,
h2 {
  clear:both;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Alegreya Sans SC', sans-serif;
  text-transform: uppercase;
  text-align:left;
  width:100%;
}

p {
  font-family:'Roboto Slab',serif;
  width:100%;
}

a,a:visited {
  color:$color-lightblue;
  text-decoration:none;

  &:hover {
    text-decoration:underline;
  }
}

body {
  background:$color-white0;
  color:$color-black;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  margin:0;
  padding:0;
  font-size:14px;
}

br {
  margin-bottom:1rem;
}

code {
  font-family:source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace;
}

.menu-item:hover > .sub-menu-indicator svg[data-icon='angle-down'],
.menu-item.active > .sub-menu-indicator svg[data-icon='angle-down'],
.menu-item.sub-active > .sub-menu-indicator svg[data-icon='angle-down'] {
  transform:rotate(180deg);
}

.menu-item:hover > .sub-menu,
.active > .sub-menu,
.sub-active > .sub-menu {
  max-height:20rem !important;
}

.sub-active,.sub-menu {
  background:$color-white;
  color:#1e1e1e!important;
}
.sub-active > .menu-item-wrapper {
  background:$color-white2;
}

.active > .menu-item-wrapper {
  background:$color-white3;
  color:#141414!important;
}

.icon {
  cursor:pointer;
  font-size:1.3rem;
  width:10rem;
  height:1.5rem;
  margin-top:-.3rem;

  &:hover {
    div {
      transform:scale(1,1);
    }
    .one {
      margin:.5rem 0 0 .85rem;
    }
    .two {
      margin:0 0 0 3.5rem;
    }
    .three {
      font-size:.8rem;
      margin:.1rem 0 0 4rem;
    }
  }

  div {
    font-style:normal;
    position:absolute;
    transition:transform $default-transition, margin $default-transition;
  }

  .one {
    font-size:.8rem;
    margin:0 0 0 2rem;
  }

  .two {
    color:$color-lightblue;
    margin:.2rem 0 0 6.5rem;
  }

  .three {
    color:$color-lightblue;
    font-size:.7rem;
    margin:.6rem 0 0 2rem;
  }
  .h {
    transform:scale(-1,1);
  }

  .vh {
    transform:scale(-1,-1);
  }
}

.box-shadow {
  -webkit-box-shadow:$box-shadow;
  -moz-box-shadow:$box-shadow;
  box-shadow:$box-shadow;
}

nav {
  font-family:'Montserrat',sans-serif;
  height:100vh;
  left:0;
  top:0;
  overflow:hidden;
  position:fixed;
  transition:width $default-transition;
  width:$menu-width;
  background-color:$color-white0;

  &.small {
    width:$menu-width-small;
    & > .menu-item .sub-menu-indicator {
      opacity:0;
    }

    & ~ .content {
      padding-left:$menu-width-small;
      width:calc(100% - 14.8rem);
    }

    & > .menu-item .menu-item-wrapper span,
    & > .settings span {
      opacity:0;
    }
  }

  &.hidden {
    width:0;
  }

  .menu-item {
    cursor:pointer;
    font-family:'Montserrat',sans-serif;
    overflow:hidden;
    width:15rem;
    transition:$default-transition;

    &[data-filler='true'] {
      opacity:0;
      height:.6rem;
    }

    .menu-item-wrapper {
      padding:$padding-medium;
      margin:0;
      position:relative;
      max-height:2rem;
      width:100%;

      span {
        position:absolute;
        transition:opacity .5s $default-transition;
      }

      &:hover > span {
        text-decoration:underline;
      }

      i[data-state='off'] > svg {
        transform:rotate(90deg);
      }

      i {
        padding:$padding-medium;
        overflow:hidden;
      }
    }

    .sub-menu-indicator {
      position:absolute;
      right:1.5em;
      padding:.5rem;
      transition:$default-transition;

      svg {
        position:absolute;
        right:0;
        transition:$default-transition;
      }
    }

    .sub-menu {
      max-height:0;
      overflow:hidden;
      transition:margin $default-transition;

      .menu-item {
        font-size:.9em;
        .menu-item-wrapper {
        }
      }
    }
  }
}

.blog {
  .entry {
  }
}

.border {
    border-color:$color-grey;
}

.content {
  font-family:'Crete Round',serif;
  line-height:1.5em;
  max-width:$break-medium;
  overflow:hidden;
  padding-left:14rem;
  transition:$default-transition;
  width:calc(100% - 19rem);
  margin:0 auto;

  @media screen and (max-width:$break-medium) {
    width:calc(100% - 4.8rem) !important;
  }

  div {
    .header {
      width:100%;
      padding:.4rem;

      .sub_header {
        margin:-1.4em 0 0 .7em;
        padding:0;
        color:rgb(75,75,75);
      }
    }

    .section {
      .section-content {
        display:flex;
        justify-content:center;
        flex-wrap:wrap;
        padding:1rem;

        .section-image-wrapper {
          background-repeat:repeat;
          min-height:25rem;
          width:100%;
          display:flex;
          justify-content:center;
          flex-wrap:wrap;
        }
      }

      &.section-large {
        background-repeat:repeat;
        min-height:25rem;
        width:calc(100% - 2.6em);
        border:0;
      }
    }
  }
}

div[data-background='star'] {
  animation:animatedBackground_bg 130s linear infinite;
  background-color:$color-black;
  background-image:url(./resources/stars_bg.gif);
  color:$color-white !important;

  .section-image-wrapper {
    animation:animatedBackground 90s linear infinite;
    background-image:url(./resources/stars.gif);
  }

  .section-links a {
    color:$color-white !important;
  }

  p, h1, img {
    color:$color-white;
  }
}

div[data-background='bionic'] .header {
  background-color:rgba(100,255,100,.3);
}

.footer {
  padding:2rem;
  width:calc(100% - 4rem);
  justify-content:center;

  p {
    font-size:.8rem;
    text-align:center;
  }
}

@keyframes animatedBackground {
  from {
    background-position:0 0;
  }
  to {
    background-position:640px 400px;
  }
}

@-webkit-keyframes animatedBackground {
  from {
    background-position:0 0;
  }
  to {
    background-position:640px 400px;
  }
}

@keyframes animatedBackground_bg {
  from {
    background-position:0 0;
  }
  to {
    background-position:-640px -800px;
  }
}

@-webkit-keyframes animatedBackground_bg {
  from {
    background-position:0 0;
  }
  to {
    background-position:-640px 400px;
  }
}

